@import "tailwindcss";

@theme {
    --spacing: 1px;
}

/* 基础样式 */
@layer base {
  * {
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font);
  }

  a:link,
  a:hover,
  a:active,
  a:visited {
    color: inherit;
  }

  body {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}